.analytics-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 30px;
}
.analytics-card:first-child .chart-container {
  height: 240px;
}

@media (max-width: 767px) {
  .analytics-grid {
    grid-template-columns: 1fr;
  }
}


.analytics-card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.analytics-card h3 {
  margin-bottom: 8px;
  text-align: center;
}

.chart-container {
  width: 100%;
  height: 260px; 
  display: flex;
  align-items: center; 
  justify-content: center;   
}

@media (max-width: 767px) {
  .chart-container {
    height: 220px;
  }
}

.analytics-card canvas {
  max-width: 100% !important;
  max-height: 100% !important;
}
